.DS_Store
.metals
.port-forward.pid

# Test files and directories

**/target/
**/metastore_db/
**/derby.log
**/spark-warehouse/
**/*.pid

# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Build artifacts
build/
dist/
*.jar
!spark-arm/templates/*.jar
debug.env
debug.env
