<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="HiveLogConfig" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">[%d{yyyy-MM-dd HH:mm:ss}] %-5p %c{1} [%t] - %m%n</Property>
        <Property name="LOG_FILE_PATH">${sys:hive.log.dir}/${sys:hive.log.file}</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingRandomAccessFile name="file"
                                fileName="${LOG_FILE_PATH}"
                                filePattern="${LOG_FILE_PATH}.%i">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!-- Set specific logger levels -->
        <Logger name="DataNucleus" level="ERROR"/>
        <Logger name="org.apache.hadoop.hive.ql.log.PerfLogger" level="INFO"/>
        <Logger name="com.amazonaws" level="WARN"/>
        <Logger name="org.apache.http" level="WARN"/>
        <Logger name="org.apache.hadoop" level="WARN"/>
        <Logger name="org.apache.hive" level="INFO"/>

        <!-- Root logger -->
        <Root level="${sys:hive.log.level:-INFO}">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>